@import "montserrat.css";

body{
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
}

.conteiner{
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

input{
    width: 150px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
   /* display: flex;
    justify-content: center;
    flex-wrap: wrap;*/

}


.cards-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.first{
    width: 380px;
    height: 374px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    padding: 1.8rem;

}
.two{
    width: 23rem;
    height: 40rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 1.8rem;
}
.h1{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
option{
    width: 20rem;
    height: 2.5rem;
}

.button{
    width: 320px;
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;

}
.gender{
    display: flex;
    justify-content: space-around;
    width: 1.25rem;
    height: 1.25rem;
}
.input__two{
    width: 20rem;
    height: 2.5rem;
}